[Unit]
Description=Job that runs the flicr daemon

[Service]
Type=simple
WorkingDirectory=/home/pi/server
ExecStart=/bin/sh -c '. venv/bin/activate && PYTHONPATH="SGVHAK_Rover:SGVHAK_Rover/SGVHAK_Rover" python main.py'

[Install]
WantedBy=multi-user.target
